.container-fluid{
    padding:0;
    font-family: 'Anonymous Pro', monospace;
}

.navbar {
    background-color:#FEFEF4;
    min-font-size: 25rem;
}

body{
    padding-top:70px;
}


#aboutImage{
    padding:0 !important;
    margin-left:0;
    width:100%;
    background-size:cover !important;
}

.social-link{
    vertical-align: top;
}

h2{
    font-weight:400 !important;
    font-style: normal;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.copyright {
    padding: 28px 0;
    margin-top: 0;/*55px;*/
    background-color: #FEFEF4; }
.copyright span,
.copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }